# Environments
.env
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

*.pyc
.pytest_cache/
.coverage
instance/

node_modules/
dist/
build/
# Jest coverage
coverage/
# npm log
npm-debug.log*
# Playwright
playwright-report/
test-results/
blob-report/