<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Users</title>
    <link rel="stylesheet" href="../../static/css/admin.css">
</head>
<body>
<header class="admin-header">
    <div class="header-left">
        <a href="homepage.html" style="text-decoration: none;">
            <h1 class="logo">GOLDEN <span>HARVEST</span></h1>
        </a>
    </div>

    <div class="header-right">
        <nav class="admin-nav">
            <a href="restaurants.html" class="nav-item">Restaurants</a>
            <a href="cuisine.html" class="nav-item">Cuisine</a>
            <a href="users.html" class="nav-item">Users</a>
            <a href="report.html" class="nav-item">Report</a>
        </nav>

        <button onclick="handleLogout()" class="btn-logout">Đăng xuất</button>
    </div>
</header>

<div class="User-list-container">
    <div class="header">
        <h2>Danh sách Users</h2>
    </div>

    <table class="user-table">
        <thead>
        <tr class="user-table-header">
            <th class="cell-id">ID</th>
            <th class="cell-info">Username</th>
            <th class="cell-email">Email</th>
            <th class="cell-phone">Phone</th>
            <th class="cell-role">Role</th>
            <th class="cell-action">Thao tác</th>
        </tr>
        </thead>
        <tbody id="user-list-body">

        </tbody>
    </table>

</div>

<div id="userModal" class="user-modal-overlay">
    <div class="user-window">
        <h3 id="user-title">Người Dùng</h3>
        <input type="hidden" id="form-id">

        <div class="form-group">
            <label>Họ tên:</label>
            <input type="text" id="user-field-name" placeholder="Nhập họ tên...">
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="email" id="user-field-email" placeholder="Nhập email...">
        </div>

        <div class="form-group">
            <label>Phone:</label>
            <input type="text" id="user-field-phone" placeholder="Nhập Số Điện Thoại...">
        </div>

        <div class="form-group">
            <label>Role:</label>
            <select id="user-field-role">
                <option value="STAFF">STAFF</option>
                <option value="ADMIN">ADMIN</option>
                <option value="CUSTOMER">CUSTOMER</option>
            </select>
        </div>

        <div class="user-modal-actions">
            <button id="button-submit" class="button-save">Lưu</button>
            <button onclick="closeUserEntry()" class="button-cancel">Hủy</button>
        </div>
    </div>
</div>

<script src="../../static/js/admin_users.js"></script>
</body>
</html>