
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="../../static/css/customer.css">
</head>

<body>

<div class="container">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>🍽️ Restaurant</h2>

        <a href="home.html">🏠 Trang chủ</a>
        <a href="search.html">🔍 Tìm kiếm</a>
        <a href="booking.html">📅 Đặt bàn</a>
        <a href="history.html" id="historyLink" style="display:none;">📜 Lịch sử</a>
        <a href="#" onclick="logout()" id="logoutMenu" style="display:none;">🚪 Đăng xuất</a>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <h2>Trang chủ</h2>

        <div class="dashboard">

            <div class="card">
                <h3>🍽️ Nhà hàng</h3>
                <p>Tìm kiếm và xem menu nhà hàng dễ dàng</p>
                <a href="search.html" class="btn">Tìm kiếm</a>
            </div>

            <div class="card">
                <h3>📅 Đặt bàn</h3>
                <p>Đặt bàn nhanh chóng chỉ trong vài bước</p>
                <a href="booking.html" class="btn">Đặt ngay</a>
            </div>

            <div class="card" id="historyCard" style="display:none;">
                <h3>📜 Lịch sử</h3>
                <p>Xem lại các lần đặt bàn trước đó</p>
                <a href="history.html" class="btn">Xem lịch sử</a>
            </div>

        </div>

    </div>
</div>

<script>
    const logoutMenu = document.getElementById("logoutMenu")

const API = "http://localhost:5000/api"

// LOGOUT
function logout() {
    fetch(`${API}/logout`, {
        credentials: "include"
    })
    .then(() => location.reload())
}

// CHECK LOGIN
window.onload = () => {
    fetch(`${API}/me`, {
        credentials: "include"
    })
    .then(res => res.json())
    .then(data => {

        if (data.logged_in) {
        guestUI.style.display = "none"

        historyLink.style.display = "block"
        historyCard.style.display = "block"
        logoutMenu.style.display = "block"
        }
    })
}

</script>

</body>
</html>