<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/css/auth.css">
    <title>GOLDEN HARVEST | Login & Register</title>


</head>
<body>
<nav class="nav">
    <div class="nav-logo">
        <p>GOLDEN <span>HARVEST</span></p>
    </div>
    <div class="nav-button">
        <button class="btn white-btn" id="loginBtn">Đăng nhập</button>
        <a class="btn" id="registerBtn" href="register.html">Đăng ký</a>
    </div>
</nav>

<div class="form-box">

    <div class="login-container" id="login">
        <div class="top">
            <span>Chưa có tài khoản? <a href="register.html">Đăng ký ngay</a></span>
            <header>Đăng nhập</header>
        </div>

        <form onsubmit="return false;">
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Tên đăng nhập" name="username">
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Mật khẩu" name="password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Xác nhận">
            </div>
        </form>
    </div>
</div>
<script>
    const loginForm = document.querySelector('form');

    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault(); // Chặn load lại trang

        // Tự động hốt hết data từ các ô input có "name"
        const formData = new FormData(loginForm);

        try {
            const response = await fetch('http://127.0.0.1:5000/api/v1/auth/login', {
                method: 'POST',
                body: formData // Gửi trực tiếp FormData
            });

            const result = await response.json();
            if (response.ok) {
                // Lưu token vào máy để các trang sau kiểm tra quyền đăng nhập
                localStorage.setItem('token', result.access_token);
                localStorage.setItem('role', result.role);
                localStorage.setItem('user_id', result.user_info?.id)

                alert("Đăng nhập thành công!");

                const role = result.role; // Lấy role từ Flask trả về

                if (role === 'ADMIN') {
                    window.location.href = "../admin/homepage.html";
                } else if (role === 'STAFF') {
                    window.location.href = "../restaurant/table.html"; // Đường dẫn tới trang nhà hàng
                } else if (role === 'CUSTOMER') {
                    window.location.href = "../customer/home.html"; // Đường dẫn tới trang khách hàng
                }

            } else {
                // Flask trả về lỗi (như sai mật khẩu) thì hiện thông báo
                alert("Lỗi: " + (result.message || "Đăng nhập thất bại"));
            }

        } catch (error) {
            console.error("Lỗi:", error);
            alert("Kiểm tra lại Flask đã chạy chưa!");
        }
    });
</script>
<script>

</script>
</body>
</html>